@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: #D5E1EF;
}

img{
   max-width: 350px;
   margin-top: 20px;
   border-radius: 10px;
   
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    width: 400px;
    height: 580px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.172);
}

.text{
    padding: 10px;
    color: #1F314F;
    margin: 0 10px;
    text-align: center;
    font-family:"Outfit", sans-serif; 
    max-width: 300px;
    
    
}

.text > p{
    color: #68778D;
    max-width: 290px;
    text-align: center;
    
}